* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

.card {
    background-color: #E9E6E6;
    padding: 10px 10px 5px 10px;
}


.title {
    background-color: #78F0B7;
    margin: 0px 0px 40px 10px;
    border: 2px #178C55 solid;
    
}    
    

.content {
    background-color: #24CCDA;
    margin: -10px;
    padding: 0px 5px;
}

h1{
    text-align: center;
    color: white;
    font-weight: 150;
    text-transform: uppercase;
    font-size: 50px;
}

.content p {
    color: white;
    margin-left: 10px;
}